<h1 class="text-center mt-4">Login</h1>

<div class="container">
    
    <div class="card mb-5 p-3">
        <div class="card-body">
            
            <%= form_with(scope: :session, url: login_path, local:true) do |f| %>
                
                <div class="mb-3">
                    <%= f.label :email, class: "form-label" %>
                    <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
                </div>
                
                <div class="mb-3">
                    <%= f.label :password, class: "form-label" %>
                    <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
                </div>
                
                <div class="mb-3">
                    <%= link_to 'Return to articles listing', articles_path, class: "btn btn-outline-secondary"%>
                    <%= f.submit "Login", class: "btn btn-success" %>
                </div>
            <% end %>
            
        
        </div>
    </div>

</div>