<div class="container">
    
    <%= render 'shared/errors', obj: @article %>
    
    <div class="card mb-5 p-3">
        <div class="card-body">
            
            <%= form_with(model: @article, local:true) do |f| %>
                <div class="mb-3">
                    <%= f.label :title, class: "form-label" %>
                    <%= f.text_field :title, class: "form-control", placeholder: "Title of Article" %>
                </div>
                
                <div class="mb-3">
                    <%= f.label :description, class: "form-label" %>
                    <%= f.text_area :description, class: "form-control", placeholder: "Description of Article", rows: 10  %>
                </div>
                
                <div class="mb-3">
                    <%= f.label :category, class: "form-label" %>
                    <%= f.collection_select :category_ids, Category.order(:name), :id, :name, {:prompt => "Make your selection from the selection below (can be empty)"}, { multiple: true, class: "form-select" } %>
                </div>
                
                <div class="mb-3">
                    <%= link_to 'Return to articles listing', articles_path, class: "btn btn-outline-secondary"%>
                    <%= f.submit class: "btn btn-success" %>
                </div>
            <% end %>
            
        
        </div>
    </div>

</div>