
<h1 class="text-center mt-4"><%= @article.title %></h1>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-8 mt-4">
            <div class="card text-center shadow mb-5 bg-white rounded">
                <div class="card-header fst-italic">
                    by <%= @article.user.username %>
                    <div>
                        <%= link_to gravatar_for(@article.user), user_path(@article.user)%>
                    </div>
                    <% if @article.categories.any? %>
                        <div class="mt-2"><%= render @article.categories %></div>
                    <% end %>
                </div>
                <div class="card-body">
                    <div class="card-text text-start pb-3"><%= @article.description %></div>
                    <% if logged_in? && (@article.user == current_user || current_user.admin? ) %>
                        <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-outline-info" %>
                        <%= link_to 'Delete', article_path(@article), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
                    <% end %>
                </div>
                <div class="card-footer text-muted">
                    <small>
                        Created <%= time_ago_in_words(@article.created_at) %> ago,
                        edited <%= time_ago_in_words(@article.updated_at) %> ago
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>