<div class="container">
    
    <%= render 'shared/errors', obj: @user %>
    
    <div class="card mb-5 p-3">
        <div class="card-body">
            
            <%= form_with(model: @user, local:true) do |f| %>
                <div class="mb-3">
                    <%= f.label :username, class: "form-label" %>
                    <%= f.text_field :username, class: "form-control", placeholder: "Username" %>
                </div>
                
                <div class="mb-3">
                    <%= f.label :email, class: "form-label" %>
                    <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
                </div>
                
                <div class="mb-3">
                    <%= f.label :password, class: "form-label" %>
                    <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
                </div>
                
                <div class="mb-3">
                    <%= link_to 'Return to articles listing', articles_path, class: "btn btn-outline-secondary"%>
                    <%= f.submit(@user.new_record? ? "Sign up" : "Update Account", class: "btn btn-success") %>
                </div>
            <% end %>
            
        
        </div>
    </div>

</div>