<h1 class="text-center mt-4">Alpha Bloggers</h1>

<div class="flickr_pagination">
    <%= will_paginate @users, :container => false %>
</div>

<div class="container">
    <% @users.each do |user| %>
        <div class="row justify-content-md-center">
            <div class="col-8 mt-4">
                <div class="card text-center shadow mb-5 bg-white rounded">
                    <div class="card-header fst-italic">
                        <%= link_to user.username, user %>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><%= link_to gravatar_for(user, size: 150), user %></h5>
                        <p class="card-text"><%= pluralize(user.articles.count, "article") %></p>
                        <%= link_to 'View Profile', user, class: "btn btn-outline-success" %>
                        <% if logged_in? %>
                            <% if user == current_user %>
                                <%= link_to 'Edit Profile', edit_user_path(user), class: "btn btn-outline-info" %>
                            <% end %>
                            <% if current_user.admin? %>
                                <%= link_to 'Delete Profile', user_path(user), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure you want to delete the user account and all associated articles?"} %>
                            <% end %>
                        <% end %>
                    </div>
                    <div class="card-footer text-muted">
                        <small>
                            Joined <%= time_ago_in_words(user.created_at) %> ago
                        </small>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>

<div class="flickr_pagination mb-4">
    <%= will_paginate @users, :container => false %>
</div>