<%= render 'shared/errors', obj: @category %>

<div class="card mb-5 p-3">
    <div class="card-body">
        
        <%= form_with(model: @category, local:true) do |f| %>
            <div class="mb-3">
                <%= f.label :name,  "Category Name", class: "form-label" %>
                <%= f.text_field :name, class: "form-control", placeholder: "Enter a name" %>
            </div>
            
            <div class="mb-3">
                <%= link_to 'Return to categories listing', categories_path, class: "btn btn-outline-secondary"%>
                <%= f.submit class: "btn btn-success" %>
            </div>
        <% end %>
        
    
    </div>
</div>